[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
notebook = "*"
transformers = "*"
peft = {git = "git+https://github.com/huggingface/peft"}
ipywidgets = "*"
datasets = "*"
python-dotenv = "*"
argparse = "*"
sagemaker = "*"
black = {extras = ["jupyter"], version = "*"}
kaggle = "*"
sentencepiece = "*"
jupyter-nbextensions-configurator = "*"
boto3 = "*"

[dev-packages]

[requires]
python_version = "3.12"
